In [163]:
import pickle
import pandas as pd
import numpy as np

with open('/home/lars/Downloads/BB36_mob_m1_frame00000--0001_dtc_converted.pkl', 'rb') as file:
    data = pickle.load(file)

dataFull = np.zeros((1135, 271))
dataFull[:] = np.nan
dataFull[:,0] = np.array(range(1135))+1

for i in range(135):
    try:
        entries = data[str(i+1)]["FRAME_IDX"]
        for idx in range(len(entries)):
            #print(idx)
            dataFull[entries[idx]-1,2*i+1] = data[str(i+1)]["X"][idx]
            dataFull[entries[idx]-1,2*i+2] = data[str(i+1)]["Y"][idx]
    except:
            0
    
        

COLNAM = []
COLNAM.append("FRAME_IDX")

for i in range(135):
    COLNAM.append("X_"+str(i+1))
    COLNAM.append("Y_"+str(i+1))
    
data_df = pd.DataFrame(dataFull, columns = COLNAM)


data_df.to_csv("data_df.csv")
np.savetxt("data_array.csv", dataFull, delimiter=",")

In [161]:
data_df

,FRAME_IDX,X_1,Y_1,X_2,Y_2,X_3,Y_3,X_4,Y_4,X_5,...,X_131,Y_131,X_132,Y_132,X_133,Y_133,X_134,Y_134,X_135,Y_135
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,1131.0,1300.0,925.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1131,1132.0,1299.0,926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,1133.0,1299.0,928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1133,1134.0,1299.0,928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,1135.0,1299.0,932.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN